<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('common/css') %>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        
        <ons-navigator id="appNavigator" swipeable swipe-target-width="80px" page="main.html"></ons-navigator>
        <template id="main.html">
            <ons-page id="main-page">
                <ons-toolbar>
                    <div class="center">FaNSights</div>
                    <div class="right">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
                    </ons-toolbar-button>
                    </div>
                </ons-toolbar>

                <p style="text-align: center">
                    <ons-button>Click me!</ons-button>
                </p>

                <script>
                    ons.getScriptPage().onInit = function() {
                    console.log('This is a lifecycle hook!', this);
                    };
                </script>
            </ons-page>
        </template>

        <%- include('common/js') %>
        <script src="/assets/js/app.js"></script>
    </body>
</html>