<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('common/css') %>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script>window.USER = <%- JSON.stringify(data); %></script>
</head>

<body>

    <ons-navigator id="appNavigator" swipeable swipe-target-width="80px" page="main.html"></ons-navigator>
    <template id="main.html">
        <ons-page id="main-page">

            <ons-tabbar swipeable position="auto">
                <ons-tab page="home-tab.html" icon="ion-home, material:md-home" badge="7" active>
                </ons-tab>
                <ons-tab page="camera-tab.html" icon="fa-images" active-icon="fa-images">
                </ons-tab>
                <ons-tab page="profile-tab.html" icon="md-settings" active-icon="md-settings">
                </ons-tab>
            </ons-tabbar>

            <ons-modal id="loading-modal" direction="up">
                <div style="text-align: center">
                    <p>
                        <ons-icon icon="md-spinner" size="28px" spin></ons-icon> Please wait...
                    </p>
                </div>
            </ons-modal>

            <script>
                ons.getScriptPage().onInit = function () {
                    console.log('This is a lifecycle hook!', this);
                };
            </script>
        </ons-page>
    </template>

    <template id="home-tab.html">
        <ons-page id="home-page">
            <ons-toolbar>
                <div class="left">FaNSights</div>
            </ons-toolbar>
            <div class="chart">
                <div class="chart__header">
                    <p class="title">
                        Daily diet
                    </p>
                    <p class="sub-title">
                        Top foods you eat
                    </p>
                </div>
                <canvas id="myChart" style="transform: translateX(-30px); margin-top:100px" height="150px"></canvas>
            </div>

            <ons-list id="food-list">
                <ons-list-header style="margin-top: 10px;">My Foods</ons-list-header>
            </ons-list>

            <script>
                /**
                *   This will get all food list upon initialization of the page
                */
                ons.getScriptPage().onInit = function () {
                    console.log('This is a lifecycle hook from home page!', this);
                };
                loadHomeInfo();
            </script>

        </ons-page>
    </template>

    <template id="food-info.html">
        <ons-page id="food-info">

            <ons-toolbar>
                <div class="left">
                    <ons-back-button></ons-back-button>
                </div>
                <div class="center"></div>
            </ons-toolbar>

            <ons-list style="margin-top: 30px; background: transparent">
                <ons-list-item style="padding: 0 40px;">
                    <div class="left">
                        <img id="fi-img" class="list-item__thumbnail" src="https://thebakermama.com/wp-content/uploads/2018/08/fullsizeoutput_15a7c.jpg">
                    </div>
                    <div class="center">
                        <span id="fi-title" class="list-item__title"></span>
                        <span id="fi-subtitle" class="list-item__subtitle"></span>
                    </div>
                </ons-list-item>
            </ons-list>

            <div class="diet">
                <div class="diet__header">
                    <p class="">
                        Food stats
                    </p>
                    <div class="flex flex__row">
                        <span class="badge red fa fa-fire"><i>Trending</i></span>
                        <span class="badge orange fa fa-star"></span>
                        <span class="badge blue fa fa-thumbs-up"></span>
                    </div>
                </div>
                <div class="diet__info">
                    <div class="item">
                        <p class="title">
                            Last eaten
                        </p>
                        <p class="info ">
                            March 20, 2019
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">
                            Eaten
                        </p>
                        <p class="info ">
                            I've ate 10 so far
                        </p>
                    </div>
                </div>
            </div>
            <div class="food-trivia">
                <p class="ingredients">
                    <b>Contains</b>
                    <span id="fi-ingredients"></span>
                    <%# <a href="#"> See more . . . </a> %>
                </p>
                <table id="fi-nutrients-table" cellpadding="0" cellspacing="0">
                    <thead>
                        <th>Nutrient</th>
                        <th>Unit</th>
                        <th>Value per 100 g</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <ons-modal id="food-info-modal" direction="up">
                <div style="text-align: center">
                    <p>
                        <ons-icon icon="md-spinner" size="28px" spin></ons-icon> Getting info...
                    </p>
                </div>
            </ons-modal>
        </ons-page>
    </template>

    <template id="camera-tab.html">
        <ons-page id="camera-page">
            <ons-toolbar>
                <div class="left">Camera</div>
            </ons-toolbar>

            <input id="ct-browse-file" type="file" accept="image/*" hidden>
            <input id="ct-camera" type="file" accept="image/*" capture="user" hidden>

            <img id="photo-viewer" height="200px">
            <label>Caption</label>
            <ons-input id="ct-caption" modifier="underbar" placeholder="Add a short caption for this photo" float></ons-input>
            <label>Tags</label>
            <ons-input id="ct-tags" modifier="underbar" placeholder="Add tags to this photo. (ex. burger, yummy, sandwich)" float></ons-input>
            <h4>Detected Tags</h4>
            <%# NOTE: DONT REMOVE THIS. THIS RENDERS ALL SELECTED TAGS %>
            <div id="select-tags"></div>
        </ons-page>
    </template>

    <template id="profile-tab.html">
        <ons-page id="profile-page">
            <ons-toolbar>
                <div class="left">Profile</div>
            </ons-toolbar>
            <div class="profile">
                <div class="profile__img">
                    <img id="pp-profile" src="https://tinyfac.es/data/avatars/475605E3-69C5-4D2B-8727-61B7BB8C4699-500w.jpeg" />
                </div>
                <div class="profile__info">
                    <p id="pp-name" class="name">
                        Saito Hiraga
                    </p>
                    <p id="pp-email" class="email">
                        saito_hiraga@gmail.com
                    </p>
                    <div class="goals">
                        Goals
                        <p>
                            Gain this ammount
                        </p>
                    </div>
                </div>
            </div>
            <div class="diet">
                <div class="diet__header">
                    <p class="">
                        My diet
                    </p>
                    <button class="diet-btn">
                        Diet analytics
                    </button>
                </div>
                <div class="diet__info">
                    <div class="item">
                        <p class="title">
                            Daily heavy meal
                        </p>
                        <p class="info ">
                            3 / 3
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">
                            Daily snack meal
                        </p>
                        <p class="info ">
                            3 / 5
                        </p>
                    </div>
                </div>
            </div>

            <ons-list style="margin-top: 30px; background: transparent">
                <ons-list-header style="margin-top: 10px;">Settings</ons-list-header>
                <ons-list-item onclick="openDietSettings()">
                    <div class="center">
                        <span id="fi-title" class="list-item__title">Diet Settings</span>
                        <span id="fi-subtitle" class="list-item__subtitle">The diets used in these research studies,
                            while important for establishing efficacy</span>
                    </div>
                </ons-list-item>
                <ons-list-item>
                    <div class="center">
                        <span id="fi-title" class="list-item__title">Change Password</span>
                        <span id="fi-subtitle" class="list-item__subtitle">The diets used in these research studies,
                            while important for establishing efficacy</span>
                    </div>
                </ons-list-item>
            </ons-list>

            <ons-modal id="pp-diet-settings-modal" direction="up">
                <div style="text-align: center">
                    <p>Number of Heavy Meal</p>
                    <input id="pp-heavy-meal" type="range" min="1" max="20">
                    <p>Number of Snack Meal</p>
                    <input id="pp-snack-meal" type="range" min="1" max="20">
                    <ons-button onclick="saveDietSettings()">Save Settings</ons-button>
                    <ons-button onclick="closeDietSettings()">Cancel</ons-button>
                </div>
            </ons-modal>
        </ons-page>
    </template>

    <%- include('common/js') %>
    <script src="/assets/js/app.js"></script>
</body>

</html>
