<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('common/css') %>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <ons-navigator id="appNavigator" swipeable swipe-target-width="80px" page="main.html"></ons-navigator>
    <template id="main.html">
        <ons-page id="main-page">

            <ons-tabbar swipeable position="auto">
                <ons-tab page="home-tab.html" icon="ion-home, material:md-home" badge="7" active>
                </ons-tab>
                <ons-tab page="camera-tab.html" icon="md-camera" active-icon="md-camera">
                </ons-tab>
                <ons-tab page="profile-tab.html" icon="md-settings" active-icon="md-settings">
                </ons-tab>
            </ons-tabbar>

            <script>
                ons.getScriptPage().onInit = function () {
                    console.log('This is a lifecycle hook!', this);
                    };
                </script>
            </ons-page>
        </template>

        <template id="home-tab.html">
            <ons-page id="home-page">
                <ons-toolbar>
                    <div class="left">FaNSights</div>
                </ons-toolbar>
                <div class="chart">
                    <div class="chart__header">
                        <p class="title">
                            Daily diet
                        </p>
                        <p class="sub-title">
                            Top foods you eat
                        </p>
                    </div>
                    <canvas id="myChart" style="transform: translateX(-30px); margin-top:100px" height="150px"></canvas>
                </div>
                
                <ons-list id="food-list">
                    <ons-list-header style="margin-top: 10px;">My Foods</ons-list-header>
                </ons-list>

                <script>
                    ons.getScriptPage().onInit = function() {
                        console.log('This is a lifecycle hook from home page!', this);
                    };

                    const ctx = document.getElementById('myChart').getContext('2d');
                    const chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['Bacon', 'Hotdog', 'Siomai'],
                            datasets: [{
                                label: 'My Foods',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(255, 99, 66)', 'rgb(255, 99, 198)'],
                                borderColor: ['rgb(255, 99, 132)', 'rgb(255, 99, 66)', 'rgb(255, 99, 198)'],
                                data: [3, 10, 5]
                            }]
                        },

                        options: {
                            legend: {
                                labels: {
                                    fontColor: 'white',
                                    // padding: 35
                                    boxWidth:30,
                                    position:'absolute'
                                },
                                position: 'right',
                            }
                        }
                    });
                    console.log("halooo",chart);
                    const foods = [
                        {
                            id: 1,
                            name: 'Bacon',
                            description: 'Bacon is a type of salt-cured pork. Bacon is prepared from several different cuts of meat, typically from the pork belly or from back cuts, which have...',
                            img: 'https://thebakermama.com/wp-content/uploads/2018/08/fullsizeoutput_15a7c.jpg'
                        },
                        {
                            id: 2,
                            name: 'Hotdog',
                            description: 'The hot dog or dog is a grilled or steamed link-sausage sandwich where the sausage is served in the slit of a partially sliced hot dog bun, a bun of...',
                            img: 'https://5i0b63wqszy3rogfx27pxco1-wpengine.netdna-ssl.com/wp-content/uploads/Basic-Hot-Dogs2-600x500.jpg'
                        },
                        {
                            id: 1,
                            name: 'Bacon',
                            description: 'Bacon is a type of salt-cured pork. Bacon is prepared from several different cuts of meat, typically from the pork belly or from back cuts, which have...',
                            img: 'https://thebakermama.com/wp-content/uploads/2018/08/fullsizeoutput_15a7c.jpg'
                        },
                        {
                            id: 2,
                            name: 'Hotdog',
                            description: 'The hot dog or dog is a grilled or steamed link-sausage sandwich where the sausage is served in the slit of a partially sliced hot dog bun, a bun of...',
                            img: 'https://5i0b63wqszy3rogfx27pxco1-wpengine.netdna-ssl.com/wp-content/uploads/Basic-Hot-Dogs2-600x500.jpg'
                        },
                        {
                            id: 1,
                            name: 'Bacon',
                            description: 'Bacon is a type of salt-cured pork. Bacon is prepared from several different cuts of meat, typically from the pork belly or from back cuts, which have...',
                            img: 'https://thebakermama.com/wp-content/uploads/2018/08/fullsizeoutput_15a7c.jpg'
                        },
                        {
                            id: 2,
                            name: 'Hotdog',
                            description: 'The hot dog or dog is a grilled or steamed link-sausage sandwich where the sausage is served in the slit of a partially sliced hot dog bun, a bun of...',
                            img: 'https://5i0b63wqszy3rogfx27pxco1-wpengine.netdna-ssl.com/wp-content/uploads/Basic-Hot-Dogs2-600x500.jpg'
                        }
                    ];

                    const list = document.getElementById('food-list');
                    const items = foods.map(food => `
                        <ons-list-item tappable onclick="handleItemClick(${food.id})">
                        <div class="left">
                            <img class="list-item__thumbnail" src="${food.img}">
                        </div>
                        <div class="center">
                            <span class="list-item__title">${food.name}</span><span class="list-item__subtitle">${food.description}</span>
                        </div>
                        </ons-list-item>
                    `);
                items.forEach(item => {
                    list.insertAdjacentHTML('beforeend', item);
                });

                const handleItemClick = function (foodId) {
                    const selectedFood = foods.find(food => food.id === foodId);
                    const nav = document.getElementById('appNavigator');
                    nav.pushPage('food-info.html', { data: selectedFood });
                };
            </script>

        </ons-page>
    </template>

    <template id="food-info.html">
        <ons-page id="food-info">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>My Foods</ons-back-button>
                </div>
                <div class="center"></div>
            </ons-toolbar>

                <ons-list style="margin-top: 30px; background: transparent">
                    <ons-list-item modifier="chevron">
                       <div class="left">
                            <img id="fi-img" class="list-item__thumbnail" src="https://thebakermama.com/wp-content/uploads/2018/08/fullsizeoutput_15a7c.jpg">
                        </div> 
                        <div class="center">
                            <span id="fi-title" class="list-item__title"></span>
                            <span id="fi-subtitle" class="list-item__subtitle"></span>
                        </div>
                    </ons-list-item>
                </ons-list>

                <script>
                    console.log(document.getElementById('appNavigator'));
                </script>
            </ons-page>
        </template>

        <template id="camera-tab.html">
            <ons-page id="camera-page">
                <ons-toolbar>
                    <div class="left">Camera</div>
                </ons-toolbar>
            </ons-page>
        </template>

        <template id="profile-tab.html">
            <ons-page id="profile-page">
                <ons-toolbar>
                    <div class="left">Profile</div>
                </ons-toolbar>
                <div class="profile">
                    <div class="profile__img">
                        <img src="https://tinyfac.es/data/avatars/475605E3-69C5-4D2B-8727-61B7BB8C4699-500w.jpeg"/>
                    </div>
                    <div class="profile__info">
                        <p class="name">
                            Saito Hiraga
                        </p>
                        <p class="email">
                            saito_hiraga@gmail.com
                        </p>
                        <div class="goals">
                            Goals
                            <p>
                                Gain this ammount
                            </p>
                        </div>
                    </div>
                </div>
                <div class="diet">
                    <div class="diet__header">
                        <p class="">
                            My diet
                        </p>
                        <button class="diet-btn">
                            Diet analytics
                        </button>
                    </div>
                    <div class="diet__info">
                        <div class="item">
                            <p class="title">
                                Daily heavy meal
                            </p>
                            <p class="info ">
                                3 / 3
                            </p>
                        </div>
                        <div class="item">
                            <p class="title">
                                Daily snack meal
                            </p>
                            <p class="info ">
                                3 / 5
                            </p>
                        </div>
                    </div>
                </div>
            </ons-page>
        </template>

        <%- include('common/js') %>
        <script src="/assets/js/app.js"></script>
    </body>
</html>