<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('common/css') %>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>


  <ons-navigator id="appNavigator" swipeable swipe-target-width="80px" page="signup.html"></ons-navigator>
  <template id="signup.html">
    <ons-page id="signup-page">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button icon="md-face"></ons-toolbar-button>
          FaNSights
        </div>
      </ons-toolbar>

      <div class="max-height-toolbar flex flex__column flex__space-between">
        <div class="logo flex flex__center">
          <img src="/assets/img/FanSights.svg" />
        </div>
        <div>
          <div class="input-container">
            <label>Email</label>
            <ons-input id="su_fullname" modifier="underbar" placeholder="May i know who you are?" float></ons-input>
            <label>Password</label>
            <ons-input id="su_email" modifier="underbar" placeholder="So we could keep in touch" float></ons-input>
            <label>Password</label>
            <ons-input id="password" modifier="underbar" type="password" placeholder="Don't worry, it'll be our secret" float></ons-input>
          </div>
          <div class="btn">
              <ons-button modifier="large" onclick="signup()">Sign up</ons-button>
          </div>
        </div>
      </div>
      <!-- <div style="text-align: center; margin-top: 30px;">
        <p>
          <ons-input id="su_fullname" modifier="underbar" placeholder="Full Name" float></ons-input>
        </p>
        <p>
          <ons-input id="su_email" modifier="underbar" placeholder="Email" float></ons-input>
        </p>
        <p>
          <ons-input id="su_password" modifier="underbar" type="Password" placeholder="Password" float></ons-input>
        </p>
        <p style="margin-top: 30px;">
          <ons-button onclick="signup()">Sign up</ons-button>
        </p>
      </div> -->
    </ons-page>
  </template>


  <%- include('common/js') %>
  <script src="/assets/js/app.js"></script>
  <script>
    const signup = function () {

      const su_form = {
        name: document.getElementById('su_fullname').value,
        email: document.getElementById('su_email').value,
        password: document.getElementById('su_password').value,
      };

      axios.post('/signup', su_form)
        .then(result => {
          ons.notification.alert('Account created!')
            .then(() => {
              window.location.href = "/";
            });
        })
        .catch(err => {
          ons.notification.alert('Error signing up.');
        });
    }; 
  </script>
</body>

</html>