<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('common/css') %>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>


    <ons-navigator id="appNavigator" swipeable swipe-target-width="80px" page="signup.html"></ons-navigator>
    <template id="signup.html">
      <ons-page id="signup-page">
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button icon="md-face"></ons-toolbar-button>
            FaNSights
          </div>
        </ons-toolbar>

        <div style="text-align: center; margin-top: 30px;">
          <p>
            <ons-input id="su_fullname" modifier="underbar" placeholder="Full Name" float></ons-input>
          </p>
          <p>
            <ons-input id="su_email" modifier="underbar" placeholder="Email" float></ons-input>
          </p>
          <p>
            <ons-input id="su_password" modifier="underbar" type="Password" placeholder="Password" float></ons-input>
          </p>
          <p style="margin-top: 30px;">
            <ons-button onclick="signup()">Sign up</ons-button>
          </p>
        </div>
      </ons-page>
    </template>

    <script>
    const su_signup = function() {
      const su_form = {
        fullname: document.getElementById('su_fullname').value,
        email: document.getElementById('su_email').value,
        password: document.getElementById('su_password').value,
      };
      ons.notification.alert('Congratulations!');

      /** if (username === 'bob' && password === 'secret') {
        ons.notification.alert('Congratulations!');
      } else {
        ons.notification.alert('Incorrect username or password.');
      }*/
    }; 
    </script>



        <%- include('common/js') %>
        <script src="/assets/js/app.js"></script>
    </body>
</html>