@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700");
body {
  max-width: 500px; }

@media only screen and (max-width: 780px) {
  body {
    max-width: 100%; } }

.bold {
  font-weight: bold; }

.logo {
  height: 40%; }
  .logo img {
    height: 150px; }

.max-height {
  height: 100vh; }

.max-height-toolbar {
  height: calc(100vh - 44px); }

.flex {
  display: flex; }
  .flex__wrap {
    flex-wrap: wrap; }
  .flex__center {
    justify-content: center;
    align-items: center; }
  .flex__center-horizontal {
    justify-content: center; }
  .flex__center-vertical {
    align-items: center; }
  .flex__row {
    flex-direction: row; }
  .flex__column {
    flex-direction: column; }
  .flex__space-around {
    justify-content: space-around; }
  .flex__space-between {
    justify-content: space-between; }

.input-container {
  margin: 0 40px; }
  .input-container ons-input {
    margin: 10px 0;
    width: 100%; }
  .input-container input {
    border: none;
    background: #484848;
    padding: 20px;
    border-radius: 20px;
    font-size: 12px;
    border: solid 1px #484848;
    transition: 100ms ease-in-out;
    height: 35px;
    padding: 0;
    padding: 0 10px; }
    .input-container input::placeholder {
      font-size: 12px; }

.btn {
  margin: 0 40px 40px 40px; }
  .btn ons-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    padding: 0;
    font-size: 12px; }
  .btn .alt {
    background-color: #FF5A5F; }

ons-toolbar img {
  height: 15px; }

.md {
  color: #fafafa; }

.list-item--chevron:before, .list-item__expand-chevron {
  border-right: solid 2px #fafafa;
  border-bottom: solid 2px #fafafa; }

ons-list-item:active {
  background-color: #111; }

.chart {
  position: relative; }
  .chart__header {
    position: absolute;
    right: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(-30px, -80px); }
    .chart__header p {
      text-align: left;
      margin: 0; }
    .chart__header .title {
      font-size: 20px;
      font-weight: bold; }
    .chart__header .sub-title {
      color: #bdbdbd;
      border-bottom: solid 1px #707070; }

.profile {
  margin: 40px;
  display: flex;
  align-items: center; }
  .profile p {
    margin: 0;
    padding: 0; }
  .profile__img {
    width: 30%; }
    .profile__img img {
      height: 70px;
      width: 70px;
      border-radius: 35px; }
  .profile__info {
    margin-left: 20px; }
    .profile__info .name {
      font-size: 20px;
      font-weight: bold; }
    .profile__info .email {
      color: #4B88E4;
      font-size: 12px;
      font-style: italic; }
    .profile__info .goals {
      font-weight: bold;
      color: #bdbdbd; }

.diet {
  margin: 20px 40px; }
  .diet__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .diet__header .diet-btn {
      height: 20px;
      background-color: #FFB554;
      border-radius: 20px;
      padding: 0 10px;
      border: none;
      color: #fafafa; }
  .diet__info {
    padding: 20px 10px;
    border-top: solid #fafafa 1px;
    border-bottom: solid #fafafa 1px;
    display: flex;
    justify-content: space-around; }
    .diet__info .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .diet__info .item p {
        margin: 0; }
      .diet__info .item .info {
        margin-top: 10px;
        font-weight: bold; }
