@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700");
body {
  max-width: 500px; }

@media only screen and (max-width: 780px) {
  body {
    max-width: 100%; } }

.bold {
  font-weight: bold; }

.logo {
  height: 40%; }
  .logo img {
    height: 150px; }

.toolbar img, .toolbar span {
  margin: 0 10px; }

.max-height {
  height: 100vh; }

.max-height-toolbar {
  height: calc(100vh - 44px); }

.badge {
  background-color: #bdbdbd;
  height: 25px;
  width: 25px;
  font-size: 12px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: relative; }
  .badge.red {
    background: #FF5A5F; }
  .badge.blue {
    background: #4B88E4; }
  .badge.orange {
    background: #FFB554; }
  .badge i {
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    background-color: #767676;
    padding: 3px 5px;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal; }

.flex {
  display: flex; }
  .flex__wrap {
    flex-wrap: wrap; }
  .flex__center {
    justify-content: center;
    align-items: center; }
  .flex__center-horizontal {
    justify-content: center; }
  .flex__center-vertical {
    align-items: center; }
  .flex__row {
    flex-direction: row; }
  .flex__column {
    flex-direction: column; }
  .flex__space-around {
    justify-content: space-around; }
  .flex__space-between {
    justify-content: space-between; }

.input-container {
  margin: 0 40px; }
  .input-container ons-input {
    margin: 10px 0;
    width: 100%; }
  .input-container input {
    border: none;
    background: #484848;
    padding: 20px;
    border-radius: 20px;
    font-size: 12px;
    border: solid 1px #484848;
    transition: 100ms ease-in-out;
    height: 35px;
    padding: 0;
    padding: 0 10px; }
    .input-container input::placeholder {
      font-size: 12px; }

.btn {
  margin: 0 40px 40px 40px; }
  .btn ons-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    padding: 0;
    font-size: 12px; }
  .btn .alt {
    background-color: #FF5A5F; }

ons-toolbar img {
  height: 15px; }

.md {
  color: #fafafa; }

.list-item--chevron:before, .list-item__expand-chevron {
  border-right: solid 2px #fafafa;
  border-bottom: solid 2px #fafafa; }

ons-list-item:active {
  background-color: #111; }

.chart {
  position: relative; }
  .chart__header {
    position: absolute;
    right: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(-30px, -80px); }
    .chart__header p {
      text-align: left;
      margin: 0; }
    .chart__header .title {
      font-size: 20px;
      font-weight: bold; }
    .chart__header .sub-title {
      color: #bdbdbd;
      border-bottom: solid 1px #707070; }

.profile {
  margin: 40px;
  display: flex;
  align-items: center; }
  .profile p {
    margin: 0;
    padding: 0; }
  .profile__img {
    width: 30%; }
    .profile__img img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
  .profile__info {
    margin-left: 20px; }
    .profile__info .name {
      font-size: 20px;
      font-weight: bold; }
    .profile__info .email {
      color: #4B88E4;
      font-size: 12px;
      font-style: italic; }
    .profile__info .goals {
      font-weight: bold;
      color: #bdbdbd; }

.diet {
  margin: 20px 40px; }
  .diet__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .diet__header .diet-btn {
      height: 20px;
      background-color: #FFB554;
      border-radius: 20px;
      padding: 0 10px;
      border: none;
      color: #fafafa; }
  .diet__info {
    padding: 20px 10px;
    border-top: solid #fafafa 1px;
    border-bottom: solid #fafafa 1px;
    display: flex;
    justify-content: space-around; }
    .diet__info .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .diet__info .item p {
        margin: 0; }
      .diet__info .item .info {
        margin-top: 10px;
        font-weight: bold; }

#cam-btn {
  color: white;
  background-color: transparent;
  border: 3px dashed white;
  border-radius: 10%;
  margin: 36px 36px;
  padding: 20px; }
  #cam-btn ons-icon {
    font-size: 70px;
    text-align: center; }
  #cam-btn p {
    font-size: 24px;
    margin: 0;
    text-align: center; }

.food-trivia .ingredients {
  padding: 0 40px 0 40px;
  color: #767676;
  text-transform: capitalize; }
  .food-trivia .ingredients b {
    color: #fafafa; }
  .food-trivia .ingredients a {
    color: #4B88E4; }

.food-trivia table {
  width: 100%; }
  .food-trivia table thead {
    background-color: #484848; }
    .food-trivia table thead th {
      height: 50px;
      width: calc(100% / 3);
      font-weight: normal; }
      .food-trivia table thead th:nth-child(1) {
        padding-left: 40px; }
      .food-trivia table thead th:nth-child(3) {
        padding-right: 40px; }
  .food-trivia table tbody {
    padding: 0 40px; }
    .food-trivia table tbody td {
      text-align: center;
      height: 50px;
      width: calc(100% / 3);
      font-weight: normal; }
      .food-trivia table tbody td:nth-child(1) {
        padding-left: 40px; }
      .food-trivia table tbody td:nth-child(3) {
        padding-right: 40px; }

.camera .caption {
  display: flex; }
  .camera .caption textarea {
    width: 100%;
    height: auto;
    border: none;
    padding: 20px; }

.camera .thumbnail {
  display: flex;
  flex-direction: column; }
  .camera .thumbnail label {
    padding: 0 20px; }
  .camera .thumbnail ons-input {
    width: 100%; }
    .camera .thumbnail ons-input input {
      padding: 20px; }
  .camera .thumbnail img {
    width: 100%;
    border: none; }

.camera h4 {
  background-color: #484848;
  padding: 20px; }

.camera #select-tags {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: #767676; }
  .camera #select-tags .button {
    margin-top: 20px;
    border-radius: 20px; }
  .camera #select-tags .select select {
    color: #767676; }

#profile-page .modal {
  background-color: rgba(255, 255, 255, 0.5); }
  #profile-page .modal__content {
    position: fixed;
    bottom: 0;
    width: 100%; }
    #profile-page .modal__content .diet-setting {
      width: 100%;
      background-color: white;
      border-radius: 10px 10px 0 0; }
      #profile-page .modal__content .diet-setting__header {
        display: flex;
        justify-content: flex-start;
        color: #484848;
        border-bottom: solid 1px #707070;
        padding: 20px 0;
        margin: 0 30px; }
      #profile-page .modal__content .diet-setting__body {
        padding-bottom: 20px; }
        #profile-page .modal__content .diet-setting__body p {
          text-align: left;
          color: #767676;
          margin: 20px 40px; }
      #profile-page .modal__content .diet-setting__footer {
        width: 100%;
        display: flex; }
        #profile-page .modal__content .diet-setting__footer .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          background-color: white;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          height: 50px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold; }
          #profile-page .modal__content .diet-setting__footer .button:focus {
            background-color: rgba(0, 0, 0, 0.15); }
          #profile-page .modal__content .diet-setting__footer .button:nth-child(1) {
            color: #767676; }
          #profile-page .modal__content .diet-setting__footer .button:nth-child(2) {
            color: #FFB554; }
