@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');
*{
  // font-family: 'Ubuntu', sans-serif !important;
  // font-size: 12px;
}
body{
  max-width: 500px;
}
@media only screen and (max-width: 780px) {
  body {
    max-width: 100%;
  }
}
.bold{
  font-weight: bold;
}
.logo{
  height: 40%;
  img{
    height: 150px;
  }
}
.max-height{
  height: 100vh;
}
.max-height-toolbar{
  height: calc(100vh - 44px);
}
.flex{
  display: flex;
  &__wrap{
    flex-wrap: wrap;
  }
  &__center{
    justify-content: center;
    align-items: center;
  }
  &__center-horizontal{
    justify-content: center;
  }
  &__center-vertical{
    align-items: center;
  }
  &__row{
    flex-direction: row;
  }
  &__column{
    flex-direction: column;
  }
  &__space-around{
    justify-content: space-around;
  }
  &__space-between{
    justify-content: space-between;
  }
}
.input-container{
  margin: 0 40px;
  ons-input{
    margin: 10px 0;
    width: 100%;
  }
  input{
    border: none;
    background: #484848;
    padding: 20px;
    border-radius: 20px;
    font-size: 12px;
    border: solid 1px #484848;
    transition: 100ms ease-in-out;
    height: 35px;
    padding: 0;
    padding: 0 10px;
    &::placeholder{
      font-size: 12px;
    }
  }
}
.btn{
  margin: 0 40px 40px 40px;
  ons-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    padding: 0;
    font-size: 12px;
  }
  .alt{
     background-color: #FF5A5F;
  }
}
ons-toolbar{
  img{
    height: 15px; 
  }
}
.md{
  color: #fafafa
}
.list-item--chevron:before, .list-item__expand-chevron{
  border-right:solid 2px #fafafa;
  border-bottom:solid 2px #fafafa;
}
ons-list-item{
  &:active{
    background-color: #111;
  }
}
.chart{
  position: relative;
  &__header{
    position: absolute;
    right: 0;
    margin: 20px 0;
    display: flex;
    // justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(-30px, -80px);
    p{
      text-align: left;
      margin: 0;
    }
    .title{
      font-size: 20px;
      font-weight: bold;
    }
    .sub-title{
      color: #bdbdbd;
      border-bottom: solid 1px #707070;
    }
  }
}
.profile{
  margin: 40px;
  display: flex;
  align-items: center;
  p{
    margin: 0;
    padding: 0;
  }
  &__img{
    width: 30%;
    img{
      height: 70px;
      width: 70px;
      border-radius: 35px;
    }
  }
  &__info{
    margin-left: 20px;
    .name{
      font-size: 20px;
      font-weight: bold;
    }
    .email{
      color: #4B88E4;
      font-size: 12px;
      font-style: italic;
    }
    .goals{
      font-weight: bold;
      color: #bdbdbd;
    }
  }
}
.diet{
  margin: 20px 40px;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .diet-btn{
      height: 20px;
      background-color: #FFB554;
      border-radius: 20px;
      padding:0 10px;
      border:none;
      color: #fafafa;
    }
  }
  &__info{
    padding: 20px 10px;
    border-top: solid #fafafa 1px;
    border-bottom: solid #fafafa 1px;
    display: flex;
    justify-content: space-around;
    .item{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p{
        margin: 0;
      }
      .info{
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
}
